<body>
  

<form (submit)="saveItem()" class="form">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="newItem.nombre" name="nombre" required />
  </div>
  <select class="" [(ngModel)]="newItem.entidad" name="entidad" id="country">
    <option value="Entidades">Entidades</option>
    <option value="Otra entidades">Otra entidades</option>
    <option value="mas entidades">mas entidades</option>
  </select>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" [(ngModel)]="newItem.email" name="email" required />
  </div>
  <div class="form-group form-actions">
    <button type="submit">{{ editIndex === null ? 'Agregar' : 'Actualizar' }}</button>
  </div>
</form>


<input 
    type="text" 
    [(ngModel)]="searchTerm" 
    (input)="onSearch()" 
    placeholder="Buscar " />


<div class="table-container">

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Entidad</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users let i = index" >
        <td [innerHTML]="highlight(user.nombre, searchTerm)">{{user.nombre }}</td>
        <td [innerHTML]="highlight(user.entidad, searchTerm)">{{user.entidad}}</td>
        <td [innerHTML]="highlight(user.email, searchTerm)">{{user.email}}</td>
        <td class="buton" ><div (click)="editUser(i)" >Editar</div></td>
        <td class="buton" ><div (click)="deleteUser(i)" >X</div></td>
      </tr>
    </tbody>
  </table>
</div>




<router-outlet></router-outlet>

</body>